<h3>Plan stuff with groups, no account necessary</h3>

<strong>Make a new group</strong>
<div class="group-sign-up">
  <%= form_for @group do |form| %>
    <div>
      <%= form.label :name, "group name: " %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :password, "Password: " %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.label :confirmation, "Confirm Password: " %>
      <%= form.password_field :confirmation %>
    </div>
    <div><%= form.submit %></div>
  <% end %>
</div>

<div class="group-list">
  <%= render @groups %>
</div>
