<section id="container">
  <nav>
    Topic: <%= @topic.title %> in the <%= link_to "' #{@room.name} ' room", @room %>
    Parent Topic: <%= link_to @topic.title, @topic.topic_parent %>
      signed in as: <%= current_handle %>
    <%= link_to "Log out of this room", [@room, :room_session], method: :delete %>
  </nav>

  <nav class="topic-tree">
    <h3>Table of Contents</h3>
    <div><ul><%= render @topic.topics %></ul></div>
  </nav>

  <section class="document">
    <%= render @document %>
    <%= form_for [@topic, @document], url: topic_document_path(@topic) do |f| %>
      <%= f.label :body, "Document Body: " %>
      <%= f.text_area :body %>
      <%= f.submit %>
    <% end %>

    <%= form_for @topic do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.submit "Edit Topic" %>
    <% end %>
  </section>

  <section class="chat">
    <section class="messages">
      <%= render @topic.messages %>
    </section>

    <section class="input">
      <div>
        <%= form_for [@topic, @subtopic] do |form| %>
          <%= form.label :title, "New topic: " %>
          <%= form.text_field :title %>
          <%= form.submit "Create" %>
        <% end %>
      </div>

      <div>
        <%= form_for [@topic, @message] do |form| %>
          <%= form.label :body, "Message: " %>
          <%= form.text_area :body %>
          <%= form.submit "Send" %>
        <% end %>
      </div>
    </section>
  </section>
</section>
