<nav>
  Topic: <%= @topic.title %> in the <%= link_to "' #{@room.name} ' room", @room %>
  Parent Topic: <%= link_to @topic.title, @topic.topic_parent %>
    signed in as: <%= current_handle %>
  <%= link_to "Log Out of this room", [@room, :room_session], method: :delete %>
</nav>
<section class="app">

  <nav class="topic-tree">
    <div><ul><%= render @topic.topics %></ul></div>
  </nav>

  <section class="document">
    <%= render @topic.display_document %>
  </section>

  <section class="chat">
    <section class="messages">
      <%= render @topic.messages %>
    </section>

    <section class="input">
      <div>
        <%= form_for [@topic, @subtopic] do |form| %>
          <%= form.label :title, "New topic: " %>
          <%= form.text_field :title %>
          <%= form.submit "Create" %>
        <% end %>
      </div>

      <div>
        <%= form_for [@topic, @message] do |form| %>
          <%= form.label :body, "Message: " %>
          <%= form.text_area :body %>
          <%= form.submit "Send" %>
        <% end %>
      </div>
    </section>
  </section>
</section>
