<section id="container">

  <nav class="group-nav">
    <span class="group-nav-item">The '<%= link_to @group.name, @group %>' group</span>
    <span class="group-nav-item">signed in as: <%= current_handle %></span>
    <span class="group-nav-item"><%= link_to "Log out", [@group, :group_session], method: :delete %></span>
  </nav>

  <nav class="document-nav">
    <span class="topic-nav-item">Topic: <%= @document.title %></span>
    <span class="topic-nav-item">Parent Topic: <%= link_to @document.parent_document.title, [@document.group, @document.parent_document] %></span>
  </nav>


  <nav class="topic-tree">
    <div>Table of Contents</div>
        <div><ul><%= render partial: "toc_item", collection: @document.subdocuments %></ul></div>
  </nav>

  <section class="document">
    <%= render @document %>
  </section>
</section>
