<h3>Enter password to get into the <%= @room.name %> room</h3>
<%= flash[:warning] %>

<%= form_tag controller: :room_sessions, action: :create do %>
  <div><%= label_tag :handle, "The Screenname you'd like in this room: " %></div>
  <div><%= text_field_tag :handle %></div>
  <div><%= label_tag :password, "Room Password: "%></div>
  <div><%= password_field_tag :password %></div>
  <div><%= submit_tag "Log in" %></div>
<% end %>
