<nav>
  <%= link_to "Log out of ' #{@room.name} '", [@room, :room_session], method: :delete %>
  <h3> signed in as: <%= current_handle %> </h3>
</nav>

<section class="app">

  <nav class="topic-tree">
    <div><ul><%= render @room.top_level_topics %></ul></div>
  </nav>

  <section class="chat">
    <section class="messages">
      <%= render @messages %>
    </section>

    <section class="input">
      <div>
        <%= form_for [@room, @topic] do |form| %>
          <%= form.label :title, "new topic: " %>
          <%= form.text_field :title %>
          <%= form.submit "create" %>
        <% end %>
      </div>

      <div>
        <%= form_for [@room, @message] do |form| %>
          <%= form.label :body, "message: " %>
          <%= form.text_area :body %>
          <%= form.submit "send" %>
        <% end %>
      </div>
    </section>
  </section>
</section>
