<nav>
  <%= link_to "Log out of ' #{@room.name} '", [@room, :room_session], method: :delete %>
  <h3> signed in as: <%= current_handle %> </h3>
</nav>

<section class="messages">
  <%= render @messages %>
</section>

<div>
  <%= form_for [@room, @message] do |form| %>
    <%= form.label :body, "Message: " %>
    <%= form.text_area :body %>
    <%= form.submit "send" %>
  <% end %>
</div>
